<% provide(:title, 'About Me') %>
<h2>About Me</h2>
<p>
  I am a Computer Science student at the University of Illinois. I love programming, video games, comedy, and sports.
  I worked at a Software Engineering Intern at <%= link_to 'Recsolu', 'https://www.recsolu.com/' %> this summer
  (2013).
</p>




<hr>

<h2>Skills</h2>

<p>Languages: C , C++, Assembly, Java, PHP, MySQL, Python, Ruby, Rails, Javascript</p>
<p>Skills: Git, Linux and CLI, server administration, database design, multi-threaded programming, user interfaces </p>
<hr>

<h2>Experience</h2>



<h4>Software Engineering Intern at RecSolu</h4>
<p>June 2013 – Present</p>
<p>
  Headed RecPass development releasing several large features including tracking of accepted privacy policies and event
  registration. Solved critical bugs and released several large features in RecSolu Campus as a full stack developer.
  Worked with business team on requirements of projects and time estimation.
</p>

<h4>Engineering IT</h4>
<p>University of Illinois at Urbana-Champaign</p>
<p>October 2012 – December 2012 (3 months) Urbana-Champaign, Illinois </p>
<p>
  Troubleshot user issues and learn new technologies quickly to help fix widespread problems users have. Fix issues with
  hardware, including desktops and printers. Corrected campus wide software issues.
</p>
<h4>Teacher's Assistant </h4>
<p>University of Illinois at Urbana-Champaign </p>
<p>June 2012 – August 2012 (3 months) Urbana-Champaign, Illinois Area </p>
<p>
  Taught incoming engineering students basic computer science concepts through Matlab. Ran the lab section with another
  TA independent of the professor. Explained technical concepts to nontechnical people.
</p>


<hr>
<h2>Awards</h2>


<h4>SHPE Member of the Month</h4>
<p>Hannah Hoffman</p>
<p>October 2012</p>

<p>We would like to congratulate Sean Freiburg on receiving this month's Member of the Month award.
  Sean participates in the web development committee in SHPE, is always there to help with events and activities,
  and maintains excellent grades while doing so. Please congratulate Sean for all of his hard work and help the next
  time you see him.</p>


<h4>Top Performing TA</h4>
<p>Eve Earles </p>
<p>August 2012</p>

<p>Got top reviews from students and faculty during my tenure as a TA. </p>

<h4> Recsolu Hackathon Winner </h4>
<p> Patrick Carr </p>
<p>December 2012 </p>

<p>Won the Recsolu Hackathon with the Online Github Ranking Tool Project. Was commended for
  polished user interface and great idea and functionality. </p>

<h4>Bugapalooza Winner </h4><p>Recsolu</p> <p>July 2013 </p><p>
  Won a competition of fixing bugs on the technical team, which included full-time staff. </p>

<hr>
<h2>Courses</h2>
<h4>Current Courses</h4>
<li>Algorithms (CS 473)</li>
<li>Senior Project (CS 492)</li>
<li>Programming Studio (CS 242)</li>
<li>Ethics (CS 210)</li>
<li>Compilers and Programming Languages (CS 421)</li>
<li>Numerical Methods (CS 357)</li>
<h4>Past Courses</h4>
<li>Database Systems (CS 411)</li>
<li>User Interface Design (CS 465)</li>
<li>Systems Programming (CS 241)</li>
<li>Data Structures (CS 225)</li>
<li>Computer Architecture (CS 233)</li>
<li>Discrete Structures (CS 173)</li>
<li>Intro to Computer Science (CS 125)</li>


<hr>
<h2>Organizations</h2>

<li>Society of Hispanic Professional Engineers</li>
<li>Illini Pride</li>
<li>ACM</li>
