<% provide(:title, 'Contact Me') %>
<h1>Contact Me</h1>

<div class="row centered-text">
<p>
  Email me at <a href="mailto:freibur1@illinois.edu">freibur1@illinois.edu</a> or on
</p>

<%= link_to image_tag( 'twitter-icon.png'), 'https://twitter.com/SFreiburg' %>
<%= link_to image_tag( 'linkedin-icon.png'), 'http://www.linkedin.com/pub/sean-freiburg/26/971/b75' %>
<%= link_to image_tag( 'google-icon.png'), 'https://plus.google.com/u/0/106620845984762511462/' %>
  <%= link_to image_tag( 'github-icon.png'), 'https://github.com/seanfreiburg' %>

</div>


<br>
<br>