<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h2>About Me</h2>

            <p>
                I am currently working on Azure at Microsoft.
                I graduated from Computer Science at the University of Illinois. I love programming, video games, comedy, and
                sports.
                I worked as a Software Engineering Intern at <a href="https://www.recsolu.com/"> Recsolu </a>summer of
                2013.
            </p>


            <hr>

            <h2>Skills</h2>

            <p>Languages: C , C++, Assembly, Java, PHP, SQL (Mostly Postgres and MySql), Python, Ruby, Rails, Javascript, C#</p>

            <p>Skills: Git, Linux and CLI, server administration, database design, multi-threaded programming, user
                interfaces </p>
            <hr>

            <h2>Experience</h2>




            <h4>Service Engineer at Microsoft</h4>

            <p>June 2014 - Present</p>

            <p>
                Manage live site incidents and work with software engineers to coordinate and solve the issue as quickly as possible.
            </p>
            <p>
                Develop tools to help automate deployments and to find failed hardware to report to hardware vendors.
            </p>
            <p>
                Help design monitoring tools and created a data migration tool to speed up business KPI metrics query speed x10.
            </p>


            <h4>Software Engineering Intern at RecSolu</h4>

            <p>June 2013 - September 2013</p>

            <p>
                Headed RecPass development releasing several large features including tracking of accepted privacy policies and
                event
                registration. Solved critical bugs and released several large features in RecSolu Campus as a full stack
                developer.
                Worked with business team on requirements of projects and time estimation.
            </p>

            <h4>Engineering IT</h4>

            <p>University of Illinois at Urbana-Champaign</p>

            <p>October 2012 - December 2012 (3 months) Urbana-Champaign, Illinois </p>

            <p>
                Troubleshot user issues and learn new technologies quickly to help fix widespread problems users have. Fix
                issues
                with
                hardware, including desktops and printers. Corrected campus wide software issues.
            </p>
            <h4>Teacher's Assistant </h4>

            <p>University of Illinois at Urbana-Champaign </p>

            <p>June 2012 - August 2012 (3 months) Urbana-Champaign, Illinois Area </p>

            <p>
                Taught incoming engineering students basic computer science concepts through Matlab. Ran the lab section with
                another
                TA independent of the professor. Explained technical concepts to nontechnical people.
            </p>


            <hr>

            <h2>Education</h2>

            <h4>Computer Science Bachelors from University of Illinois Urbana-Champaign</h4>

            <p>August 2010 - May 2014, Urbana-Champaign, Illinois Area </p>

            <hr>

            <h2>Awards</h2>




            <h4>Top Performing TA</h4>

            <p>Eve Earles </p>

            <p>August 2012</p>

            <p>Got top reviews from students and faculty during my tenure as a TA. </p>

            <h4> Recsolu Hackathon Winner </h4>

            <p> Patrick Carr </p>

            <p>December 2012 </p>

            <p>Won the Recsolu Hackathon with the Online Github Ranking Tool Project. Was commended for
                polished user interface and great idea and functionality. </p>

            <h4>Bugapalooza Winner </h4>

            <p>Recsolu</p>

            <p>July 2013 </p>

            <p>
                Won a competition of fixing bugs on the technical team, which included full-time staff. </p>

            <hr>

            <h4>Past Courses</h4>
            <ul>
                <li>Theory of Computation (CS 373)</li>
                <li>Senior Project (CS 493)</li>
                <li>Social Visualizations (CS 467)</li>
                <li>Distributed Systems (CS 425)</li>
                <li>Compilers and Programming Languages (CS 421)</li>
                <li>Algorithms (CS 473)</li>
                <li>Senior Project (CS 492)</li>
                <li>Programming Studio (CS 242)</li>
                <li>Ethics (CS 210)</li>
                <li>Numerical Methods (CS 357)</li>
                <li>Database Systems (CS 411)</li>

                <li>User Interface Design (CS 465)</li>
                <li>Systems Programming (CS 241)</li>
                <li>Data Structures (CS 225)</li>
                <li>Computer Architecture (CS 233)</li>
                <li>Discrete Structures (CS 173)</li>
                <li>Intro to Computer Science (CS 125)</li>
            </ul>

            <hr>
            <h2>Organizations</h2>
            <ul>
                <li>Society of Hispanic Professional Engineers</li>
                <li>Illini Pride</li>
            </ul>
        </div>
    </div>
</div>