<div class="container-fluid">

    <div class="row">
        <div class="col-md-6 ">
            <h1>Projects</h1>
        </div>

    </div>
    <hr>

    <div class="row">


        <div class="col-sm-6">
            <h3>unbury.us</h3>
            <a href="http://unbury.us"><img src="/images/unbury.png" class="img-responsive img-rounded center"></a>

        </div>

        <div class="col-sm-6">
            <h3>shpe-uiuc.org</h3>
            <a href="http://shpe-uiuc.org">
                <img src="/images/shpe.png" class="img-responsive img-rounded center">
            </a>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <a href="https://github.com/seanfreiburg" class="text-center"><h4> Go check out my github</h4></a>
        </div>
    </div>
</div>
<hr>