body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

@-moz-document url-prefix() {
    body, h1, h2, h3, h4, h5 {
        font-weight: 300;
    }
    p {
        font-weight: 400;
    }
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.nav-link {
    font-size: 22px;
}